<!-- display error if one occurs -->
<div class="container">
  <h5 *ngIf="isMessage===true">{{message}}</h5>
</div>

<div class="container">
  <h5 *ngIf="isDatabaseMessage===true">{{databaseMessage}}</h5>
</div>

<div class="container">
  <h5 *ngIf="isHttpError===true">{{httpError}}</h5>
</div>

<!--Pinterest look where cards are all different lengths-->
<div class="container">
  <div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    <div *ngFor="let item of myItems">
      <button class="btn btn-light" (click)="showItemDetail(item)">
        <div class="card">
          <img class="card-img" src={{item.imageName}}>
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
