
<style>
  img {
    width: 400px;
  }
</style>

<div class="container clearfix">

  <figure>
    <img class="img-fluid float-end" src="assets/me.jpg">
    <figcaption>
      <h1>About...</h1>
      <p>Welcome, and thank you for visiting!</p>
      <p>My name is</p>
      <h4>Michelle Simone</h4>
      <p>and I am the</p>
      <h5>Software Developer</h5>
      <p>who designed and created this web site!</p>
    </figcaption>
  </figure>

  <p>
    In November 2021, I left my job at ECi Software Solutions to focus on my health and learning new software skills.
    I built this e-commerce web site, from the ground up, in order to showcase my capabilities as a software developer.
  </p>
  <p>
    The design is based on the "Model-View-Controller" (MVC) design pattern, where
    the "View" logic (UI) is in a separate software project than the "Model-Controller" logic, giving a separation of concerns:
  </p>
  <ul>
    <li>
      The "View" project is written in Angular, and hosted in an Azure Static Web App.
      It's only purpose is to display information to the user, and
      capture user input. It performs all the UI for the site.
      This piece of software executes mostly in the browser.
    </li>
    <p> </p>  <!--blank line between 2 list items-->

    <li>
      The "Model-Controller" application is written in a C# project (.NET 6 RESTful Web API).  It's sole purpose is
      to retrieve and post item data and images for the "View" project (UI).
      This piece of code is also hosted in Azure and executes in an App Service which has access to
      an Azure SQL database and Blob Storage.
    </li>
  </ul>

  <p>
    The two projects communicate with each other, by sending and receiving item data between each other based on browser input.
  </p>



  <h5>The following are some details about the site's design:</h5>

  <ul>
    <li>
      <p>
        The Move Away from One Giant Monolithic Solution:
      </p>
      <p>
        I chose to divide the solution into two distinct software projects for a few reasons.
        I wanted the project to use compute resources efficiently.
        With Angular, all the UI work, including form validation, executes in the browser - not in Azure.
        Azure resources are mostly focused on processing data requests coming
        from the browser.
      </p>
      <p>
        The second reason is that dividing the solution into 2 distinct projects
        is a time-saver when it comes to testing.  For example, if I make a change to the View,
        I won't need to test the database logic, and other logic far from the UI change.
      </p>
      <p>
        I am preparing myself to work on a team with other developers.
        Having 1 Giant Monolithic solution doesn't allow teams to work together efficiently.
        With the View logic broken out into its own Angular project, artistic software developers with a background in
        HTML and bootstrap can focus on writing the code which delivers a visually pleasing UI experience,
        far away from the other logic.  This allows everyone to work harmoniously in parallel on what they
        do best.  When logic is all mixed up in the various source files of a monolith, the chances of a
        developer having to "wait" until another developer checks a source file goes up.
      </p>
      <p>
        The software is more organized, making it easier to find logic.  There
        is more standardization of where logic belongs, which is helpful
        when a new developer comes on board.
      </p>

    </li>
    <li>
      <p>
        Github and Creating New Feature Releases:
      </p>
      <p>
        Both projects each have their own github repository in
        <a href="https://github.com/mlsimone">my github account</a>.
        When I was ready to add a new feature to either application, I checked out a new feature branch onto
        my development box,
        where I would write and test the software, per the requirements.
        Once I felt comfortable with the testing outcomes, the new feature release would get pushed from my
        development box, up to my github account.
      </p>
    </li>
    <li>
      <p>
        Azure Deployment: via <a href="https://docs.github.com/en/actions/quickstart">Github Actions Workflow</a>
      </p>
      <p>
        Each repository in my github account has its own Github Actions workflow. These workflows are prescribed by
        Microsoft to deploy software to the Azure cloud. The workflow in the Angular project
        compiles and deploys the Angular project to its Azure cloud (a Static Azure Web Site),
        while the workflow in the C# project compiles and deploys to its Azure cloud (an App Service).
        Both workflows are triggered
        to deploy software to Azure on a push to the main branch.
      </p>
    </li>
    <li>
      <p>
        Authentication: via <a href="https://learn.microsoft.com/en-us/entra/identity-platform/v2-overview">Microsoft Identity Platform</a>
      </p>
      <p>
        The login button in the Navigation Bar redirects the browser to a Microsoft Endpoint which
        executes 2 factor authentication to verify the identity of a given individual.
        Once Microsoft verifies a user's identity, it returns an ID token back to the browser where
        where the Navigation Bar is personalized to display "Hello, [individual's displayname]".
      </p>
      <p>
        Adding login and logout functionality into the "View" application
        started with downloading Microsoft Authentication Library <a href="https://www.youtube.com/watch?v=EJey9KP1dZA">(MSAL)</a> from
        <a href="https://www.npmjs.com/search?q=%40angular%2Fcli">npm</a>, into my Angular project.
        I then created a new feature branch and made the appropriate software changes to configure MSAL
        within the Angular project. Once these
        changes were pushed from my development box to my github account, an Azure deployment was triggered, sending
        these software changes to the Azure cloud.
      </p>

      <p>
        In addition to the Angular software changes, I also needed to
        <a href="https://learn.microsoft.com/en-us/entra/identity-platform/quickstart-register-app">
          register the Angular application in Microsoft Entra ID
        </a>.
      </p>
    </li>
    <li>
      <p>
        Authorization and Security: via <a href="https://www.youtube.com/watch?v=EJey9KP1dZA">MSAL Interceptor</a>
      </p>
      <p>
        MSAL is also configured to give users access to protected resources after login.
        Most of the site is accessible to all users without a login.
        However, only certain users are allowed to add items to the catalog.

        In order to support this, the Angular application was altered to inject an
        access token into a given communication request (POST) going to the C# application.

        The C# application will process the POST request if and only if the access token contains the
        appropriate scope (a user's privileges).
      </p>
      <p>
        Security changes were made to the POST functions in my C# controllers to restrict access to them
        (eg. use of [Authorize], [Scope] tags).
        In addition to the software changes made in both applications, I also needed to
        <a href="https://learn.microsoft.com/en-us/entra/identity-platform/quickstart-register-app">
          register the C# application in Microsoft Entra ID.
        </a>
      </p>
    </li>
    <li>
      <p>
        <a href="https://learn.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=portal%2Cdotnet">
          Managed Identities
        </a>: Passwordless access to Protected Resources in Azure (eg. databases, storage)
      </p>
      <p>
        The C# application needs sufficient privileges to read and write to an Azure SQL database
        and Blob Storage. In order to support this,  I created a Managed Identity in Azure, and modified
        the C# application to use the
        <a href="https://learn.microsoft.com/en-us/dotnet/api/overview/azure/identity-readme?view=azure-dotnet#defaultazurecredential">
          DefaultAzureCredential
        </a>.
        Managed Identities can be more secure in a corporate
        setting because credentials aren't exposed to the development team (eg. in configuration files).
        I found this
        <a href="https://learn.microsoft.com/en-us/entra/identity/managed-identities-azure-resources/overview">
          article
        </a>
        very helpful in understanding how Managed Identities work. The setup for using a managed identity is fairly involved.
      </p>
    </li>
    <li>
      <p>
        Site Responsiveness using <a href="https://getbootstrap.com/">Bootstrap</a>:
      </p>
      <p>
        I wanted the site to run in a browser on any device, whether it be a phone, tablet, or desktop monitor.
        In order to support this, I downloaded the latest version of <a href="https://getbootstrap.com/">Bootstrap</a> from
        <a href="https://www.npmjs.com/search?q=%40angular%2Fcli">npm</a>
        and used the bootstrap classes within all my HTML elements so they respond appropriately as the size
        of the browser window changes.  One thing you will notice
        as you expand or shrink the size of the browser, is that the HTML elements adjust to the current size
        of the browser.
        For example, the Navigation Bar turns into a hamburger
        icon if the browser is sufficiently small enough -- as would be the case in a phone's browser.
      </p>
    </li>
    <li>
      <p>
        Azure Resources, such as hosting environments, databases and storage accounts:
      </p>
      <p>
        As a developer, I appreciate the ease and flexibility that Azure provides, without the
        headache of managing servers and patch updates. However, these benefits come at a cost,
        depending on the choices made when selecting servers in the Azure
        <a href="https://learn.microsoft.com/en-us/entra/identity-platform/quickstart-create-new-tenant">tenant</a>.
        Free resources are available in Azure.  However, this can result in site slowness as explained below.
      </p>
      <p>
        Free resources come with limits.  My free database is replenished with
        100,000 vCore seconds of CPU at the beginning of each month.
        After that time is exhausted, my database is configured to allow
        for "overages" so that I can keep my site up and running. At that point,
        costs can start to add up. In order to control costs, my database is configured to shut down
        after 1 hour of inactivity.  This may cause timeouts on the site, and/or result in slowness
        after a period of inactivity.
      </p>
      <p>
        The C# application is also hosted in a free Azure App service which is configured to shut down after 20 minutes of inactivity.
        This will result in a long startup time for someone going to the site after it has been shut down
        due to inactivity.
      </p>
      <p>
        Clearly, there are tradeoffs one makes using free resources.  Since this site is designed to be a proof of concept,
        I didn't mind dealing with those tradeoffs.
      </p>
    </li>
    <li>
      <p>
        Testing and Troubleshooting Issues with the Applications in the Cloud:
      </p>
      <p>
        Logging was an important part of testing and troubleshooting the C# application in the Azure cloud.
        I found the eventlog to be the easiest log file to read.  All the timestamps
        are in chronological order, which was not the case with the logging stream you can view
        directly from the Azure portal.
        Log Warnings and Log Errors were added into the C# application to support troubleshooting.
      </p>
    </li>
    <li>
      <p>
        Conclusion
      </p>
      <p>
        Software development has definitely changed over the last few years.  Application frameworks such as
        Angular and .NET make it easy to create beautiful sites with less code.  Authentication and
        Authorization can now be delegated to a trusted identity provider such as Microsoft, as has been done
        here.  Github makes it easy to create new versions of software projects and deploy to the Azure cloud.
        Also, Azure makes it easy to allocate resources such as databases, storage, and hosting environments.
      </p>

    </li>
  </ul>

</div>
