
<div class="containiner">
  <div class="row-cols-md-1 row row-cols-lg-2">

    <div class="card">
      <img class="card-img" src="assets/me.jpg" />
      <div class="card-body">
        <h5 class="card-title">Michelle Simone, Software Developer</h5>
      </div>
    </div>

    <div class="align-self-top">
      <h1>About...</h1>
      <p>Welcome, and thank you for visiting!</p>
      <p>My name is</p>
      <h4>Michelle Simone</h4>
      <p>and I am the</p>
      <h5>Software Developer</h5>
      <p>who designed and created this web site!</p>

      <p>
        In November 2021, I left my job at ECi Software Solutions to focus on my health and learning new software skills.
        The time away from the demands of a 40 hour week, gave me the opportunity to
        build a e-commerce web site in the Azure, from the ground up, to showcase my capabilities as a
        software developer.
      </p>
      <p>
        I opted for a solution based on the "Model-View-Controller" (MVC) design pattern.
        The solution is divided into 2 software projects, giving a separation of concerns: 
      </p>
      <ul>
        <li>
          The "View" project/application is written in Angular, and hosted in an Azure Static Web App.
          It's only purpose is to display information to the user, and
          capture user input.
          This piece of software executes mostly in the browser.
        </li>
        <p> </p>
        
        <li>
          The "Model-Controller" project/application is written in C#.  It's sole purpose is
          to retrieve and post item data and images for the View project. 
          This piece of code is also hosted in Azure and executes in an App Service which has access to
          an Azure SQL database and Blob Storage.
        </li>
      </ul>

      <p>
        The two projects communicate with each other, by sending and receiving item data between each other based on browser input.
      </p>

    </div>
  </div>
</div>

<div class="container">
  <p>
    The following are some bullet points about my site, that I'd like to share:
  </p>
  <ul>
    <li>
      <p>
        The Move Away from One Giant Monolithic Solution:
      </p>
      <p>
        I chose to divide the solution into two distinct software projects for a few reasons.
        I wanted the project to use compute resources efficiently.
        With Angular, all the UI work, including form validation, executes in the browser - not in Azure.
        Azure resources are mostly focused on processing data requests coming
        from the browser.
      </p>
      <p>
        The second reason is that dividing the solution into 2 distinct projects
        is a time-saver when it comes to testing.  For example, if I make a change to the View,
        I won't need to test the database logic, and other logic far from the UI change.
      </p>
      <p>
        I am preparing myself to work on a team with other developers.
        Having 1 Giant Monolithic solution doesn't allow teams to work together efficiently.
        With the View logic broken out into its own Angular project, artistic software developers with a background in
        HTML and bootstrap can focus on writing the code which delivers a visually pleasing UI experience,
        far away from the other logic.  This allows everyone to work harmoniously in parallel on what they
        do best.  When logic is all mixed up in the various source files of a monolith, the chances of a
        developer having to "wait" until another developer checks a source file goes up.
      </p>
      <p>
        The software is more organized, making it is easier to find logic.  There
        is more standardization of where logic belongs, which is helpful
        when a new developer comes on board.
      </p>

    </li>
    <li>
      <p>
        Github and Creating New Feature Releases:
      </p>
      <p>
        Both projects each have their own github repository in
        <a href="https://github.com/mlsimone">my github account</a>.  
        When I was ready to add a new feature to either application, I checked out a new feature branch onto
        my development box,
        where I would write and test the software, per the requirements.
        Once I felt comfortable with the testing outcomes, the new feature release would get pushed from my
        development box, up to my github account. Lastly a pull request was executed to merged the new feature
        branch into the main branch.
      </p>
    </li>
    <li>
      <p>
        Azure Deployment: via <a href="https://docs.github.com/en/actions/quickstart">Github Actions Workflow</a>
      </p>
      <p>
        Each repository in my github account, has its own Github Actions workflow. These workflows are prescribed by
        Microsoft as the only way to deploy software to their cloud. The workflow in the Angular project 
        compiles and deploys the Angular project to its Azure cloud (a Static Azure Web Site),
        while the workflow in the C# project compiles and deploys to its Azure cloud (an App Service).
        Both workflows are triggered
        to deploy software to Azure on a "git PUSH".
      </p>
    </li>
    <li>
      <p>
        Testing and Troubleshooting Issues with the Applications in the Cloud:
      </p>
      <p>
        Logging was an absolute must for me when testing the C# application in the Azure cloud.
        I found the eventlog to be the easiest log file to read.  All the timestamps
        are in chronological order, which was not the case with the logging stream you can view
        directly from the Azure portal.
        There is really no easy way to see where failures occur, unless you do a good job of
        anticipating where problems in your code can occur, and responding to those problems
        by logging them as warnings and errors.
      </p>
    </li>
    <li>
      <p>
        Authentication: via <a href="https://learn.microsoft.com/en-us/entra/identity-platform/v2-overview">Microsoft Identity Platform</a>
      </p>
      <p>
        The login button in the Navigation Bar redirects the browser to a Microsoft Endpoint which
        executes 2 factor authentication to verify the identity of a given individual.
        Once Microsoft verifies a user's identity, it returns an ID token back to the browser where
        where the Navigation Bar is personalized to display "Hello, [individual's displayname]".
      </p>
      <p>
        Adding login and logout functionality into the presentation layer
        started with downloading the Angular Microsoft Authentication Library <a href="https://www.youtube.com/watch?v=EJey9KP1dZA">(MSAL)</a> from
        <a href="https://www.npmjs.com/search?q=%40angular%2Fcli">npm</a>, into my Angular project.
        I then created a new feature branch in github and made the appropriate software changes to configure MSAL
        within the Angular project. Once these
        changes were "pushed" from my development box to my github account, an Azure deployment was triggered, sending
        these software changes to the Azure cloud.
      </p>

      <p>
        In addition to the Angular software changes, the Angular application also needed to be
        <a href="https://learn.microsoft.com/en-us/entra/identity-platform/quickstart-register-app">
          registered in Microsoft Entra ID
        </a>.
      </p>
    </li>
    <li>
      <p>
        Authorization and Security: via <a href="https://www.youtube.com/watch?v=EJey9KP1dZA">MSAL Interceptor</a>
      </p>
      <p>
        MSAL not only captures your login details, but is also
        configured to give users access to protected resources, such as the item catalog.
        For example, adding an item to the item catalog is only allowed by users who
        authenticate and have the proper authorization in Microsoft Identity.
        All of the pages except 1 allow unauthenticated users to view.
        AFTER you login.  The presentation layer was altered again to inject an
        access token into a given communication request going to the data layer.
        Once the data layer receives the communication request from the presentation layer,
        it will inspect the request to determine if an access token is present, and
        whether the access token has the appropriate SCOPE.
        The data layer will send the requested data back to the presentation layer, if and only if,
        the access token has the correct SCOPE. Without the access token, users will see an error message
        (unauthorized, 401).
      </p>
      <p>
        I allow free access to view and search thru the item catalog without a login. However,
        you need a successful login to add items to the catalog.
        In order to secure the item catalog, a new feature branch of the data layer was created.  From there I added the
        appropriate changes to my controllers to secure them, such as [Authorize] and [RequiredScope].

        Once these changes were "git pushed" from my local
        development box up to my github account, an Azure deployment was triggered, sending these software
        changes to the Azure cloud.

      <p>
        In addition to the software changes made in both the presentation and data layers, the data "application" also needed to be
        <a href="https://learn.microsoft.com/en-us/entra/identity-platform/quickstart-register-app">
          registered in Microsoft Entra ID
        </a>.
      </p>
    </li>
    <li>
      <p>
        <a href="https://learn.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=portal%2Cdotnet">
          Managed Identities
        </a>: Passwordless access to Protected Resources in Azure (eg. databases, storage)
      </p>
      <p>
        My data layer needs to have sufficient privileges to read and write to an SQL database
        and Blob Storage. In order for my application to access these protected resources in Azure,
        I created a Managed Identity, and modified my data layer to use the
        <a href="https://learn.microsoft.com/en-us/dotnet/api/overview/azure/identity-readme?view=azure-dotnet#defaultazurecredential">
          DefaultAzureCredential
        </a>.
        The connection string in my application's configuration file contains a reference to a
        managed identity, rather than a password, making things more secure, as developers come and go.
        I found this
        <a href="https://learn.microsoft.com/en-us/entra/identity/managed-identities-azure-resources/overview">
          article
        </a>
        very helpful in understanding how Managed Identities work.
      </p>
      <p>
        The setup for using a managed identity is fairly involved.
        Persistence will get you to the finish line.
      </p>
    </li>
    <li>
      <p>
        Site Responsiveness using <a href="https://getbootstrap.com/">Bootstrap</a>:
      </p>
      <p>
        I wanted the site to run in a browser on any device, whether it be a phone, tablet, or desktop monitor.
        In order to support this, I downloaded the latest version of <a href="https://getbootstrap.com/">Bootstrap</a> from
        <a href="https://www.npmjs.com/search?q=%40angular%2Fcli">npm</a>
        and used the bootstrap classes within all my HTML elements so they respond appropriately as the size
        of the browser window changes.  One thing you will notice
        as you expand or shrink the size of the browser, is that the HTML elements adjust to the current size
        of the browser.
        For example, the Navigation Bar turns into a hamburger
        icon if the browser is sufficiently small enough -- as would be the case in a phone's browser.
      </p>
    </li>
    <li>
      <p>
        Azure Resources, such as hosting environments, databases and storage accounts:
      </p>
      <p>
        As a developer, I appreciate the ease and flexibility that Azure provides, without the
        headache of managing servers and patch updates. However, these benefits come at a cost,
        depending on the choices you make when you select servers in your Azure
        <a href="https://learn.microsoft.com/en-us/entra/identity-platform/quickstart-create-new-tenant">tenant</a>,
        to host your site or run your database.
      </p>
      <p>
        There are options to use free resources, which I use when possible.
        For example, I use a "free SQL database" at the beginning of each month when my CPU time
        is replenished. However, once I exhaust all my free CPU time in a given month, I have it set up to charge me
        for "overages" so that I can keep my site up and running. Once you go beyond the "free time",
        costs can start to rack up with each passing day.
      </p>

      <p>
        Once I received my 1st Azure bill from Microsoft, I learned how to control my costs daily, by either shutting
        down resources or deleting them altogether if I no longer needed them. Sometimes, I "shut down the
        data layer", so I don't get charged for the database overages.
      </p>
    </li>
    <li>
      <p>
        Thanks for reading my $.02!
      </p>
      <p>
        Software development has definitely changed for the better over the last few years.
        Project setup in both Angular and Microsoft's platforms makes it so easy to create
        beautiful sites with less and less code.
      </p>

    </li>
  </ul>

</div>

